body {
    background: #fff;
    background-image: url(/egrettv/images/wave-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

header {
}

hr {
    background-color: #00265f;
    border: 0;
    padding: 0;
    margin-bottom: 10px;
    height: 9px;
}
h1 {
	color: darkblue;
}
.navbar {
	background: rgba(0,123,255,.5);
}
.form-signin {
max-width: 390px;
padding: 15px;
margin: 0 auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
